In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/split try/salary.csv")

In [ ]:
df

,Unnamed: 0,District,Salary,Age,English,Education,Gender
0,0,Brooklyn,120000.0,31,Only language,Academic degree,Male
1,1,Brooklyn,45000.0,28,Only language,Academic degree,Female
2,2,Manhatten,85000.0,54,Only language,Academic degree,Male
3,3,Manhatten,12000.0,45,Only language,High school diploma,Female
4,4,Brooklyn,0.0,75,Very well,Academic degree,Female
...,...,...,...,...,...,...,...
59432,59432,Brooklyn,0.0,35,Very well,No diploma,Female
59433,59433,Queens,0.0,89,Only language,No diploma,Female
59434,59434,Bronx,0.0,34,Only language,No diploma,Male
59435,59435,Manhatten,0.0,61,Only language,No diploma,Female
59436,59436,Bronx,21000.0,25,Only language,High school diploma,Male

In [ ]:
df.shape

(59437, 7)

# **Split into Equal-Sized Chunks**

In [ ]:
import numpy as np
import os
# Number of chunks you want to split the data into
num_chunks = 10

# Split the dataset into num_chunks parts
chunks = np.array_split(df, num_chunks)

# Specify the directory where you want to save the files
output_dir = '/content/drive/MyDrive/split try'

# Create the directory if it doesn't exist
os.makedirs(output_dir, exist_ok=True)

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

# Save the Chunks to Separate Files.
**Once you have the chunks, you can save them as separate files, such as CSV or pickle files.**

In [ ]:
# Save each chunk as a CSV file in the specified directory
for i, chunk in enumerate(chunks):
    chunk.to_csv(f'{output_dir}/salary{i}.csv', index=False)

print(f"All chunks saved in {output_dir}")

All chunks saved in /content/drive/MyDrive/split try